.footer{
    background-image: url("/images/contacto.jpg");
    background-size: cover;
    background-position:center;
    padding: 1px 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.footer__div{
    background: rgba($color: white, $alpha: 0.5);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.footer__div__texto{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.footer__div--h1{
    padding: 0;
    margin: 0 0 10px 0;
}

.footer__div--p1{
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 20px;
}

.footer__div--p2{
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 20px;
}

.io{
    padding: 0;
    margin: 0;
}

.footer__div--a{
    color: black;
    font-size: 25px;
}

.footer__end{
    margin: 0;
    padding: 0;
    color: white;
}
